body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
}

nav .logo {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li .cta {
    background: #ff7a00;
    padding: 10px 20px;
    border-radius: 6px;
}


.hero {
  background: url("car-bg.jpg") center/cover no-repeat;
  background-color: #000; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


}

.hero-logo {
    width: 250px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 70px;
    font-weight: bold;
    margin: 0;
    color: red;
}

.hero-text {
    font-size: 20px;
    margin: 10px 0 20px;
}


.btn-orange {
    background: #ff7a00;
    padding: 15px 35px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.btn-orange:hover {
    opacity: 0.9;
}

.page-section {
    padding: 150px 60px;
    text-align: center;
    background: #111;
    min-height: 100vh;
}

.page-section h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #ff7a00;
}

.page-text {
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    line-height: 1.7;
}


.about-boxes {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.about-boxes .box {
    background: #222;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ff7a00;
}


.service-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.service-card {
    background: #222;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #ff7a00;
}

.service-card h2 {
    margin-bottom: 10px;
}
.booking-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.booking-form input,
.booking-form select {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.booking-form button {
    padding: 12px;
    background: orange;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

}
